DATABASES = {
    'default': {
        'ENGINE': 'django.contrib.gis.db.backends.postgis',
        'NAME': '{{ pd.db_name }}',
        'USER': '{{ pd.db_user }}',
        'PASSWORD': '{{ pd.db_password }}',
        'HOST': 'localhost',
        'PORT': '5432',
    }
}

LOCAL_APPS = [
]

SECRET_KEY = '{{ pd.secret_key }}'

DEBUG = False

CORS_ORIGIN_WHITELIST = [
    'pd.benrudolph.com',
]

ALLOWED_HOSTS = [
    '0.0.0.0',
    '127.0.0.1',
    'localhost',
    'benrudolph.com',
    'api-pd.benrudolph.com',
    'pd.benrudolph.com',
]
